body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
}

button:hover {
   background-color: #218838; /* Цвет при наведении */
}

#message {
   margin-top: 20px;
}

#logout-button {
   margin-top: 20px;
   padding: 10px;
   background-color: #dc3545; /* Красный цвет для кнопки выхода */
   color: white;
   border: none;
   border-radius: 5px;
}

#logout-button:hover {
   background-color: #c82333; /* Темнее при наведении */
}
